header{
  background-color: white;
  .navbar-light .navbar-nav .nav-link{
    font-family: font-family: 'Inter', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;

  }
}
